* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: #212121;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.list {
  list-style: none;
}

.header {
  text-align: center;

  height: 80px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;

  padding: 24px 25px;
}

.header-logo {
  margin: 0;
  margin-right: 93px;

  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
}

.header-logo > span {
  color: #2196f3;
}

.navigation {
  height: 16px;
  margin: 0;
  width: 100%;

  font-weight: bold;
}

.header-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-list li {
  display: inline-block;
  margin-right: 50px;
}

.header-list li:last-child {
  margin-right: 0;
}

.current {
  font-weight: normal;
}

.list-link:hover {
  color: #2196f3;
}

.list-link,
.contact-link {
  text-decoration: none;
  color: #333;
}

.banner {
  height: 600px;
  background-color: #2f303a;
  color: #ffffff;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-title {
  font-size: 44px;
  width: 696px;
  height: 120px;

  text-align: center;
}

.banner-button {
  width: 216px;
  height: 50px;

  border: none;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  font-weight: bold;
}

h3 {
  margin: 0;
}

.features {
  text-align: center;

  margin-top: 94px;
  height: 98px;
}

.features-list {
  padding: 0;
}

.features-list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;

  width: 270px;
}

.features-list li p {
  margin: 0;
  margin-top: 10px;
}

.company-doing {
  text-align: center;

  margin-top: 94px;
  margin-bottom: 94px;
  height: 386px;
}

.company-doing ul {
  padding: 0;
}

.company-doing h2 {
  font-size: 36px;
  text-align: center;
}

.list-images li {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.our-team {
  height: 648px;
  background-color: #f5f4fa;
  padding-top: 94px;

  text-align: center;
}

.our-team h2 {
  font-size: 36px;
  text-align: center;
}

.our-team li {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;

  width: 270px;
  height: 368px;
  background-color: #ffffff;
}

.team-members {
}

.member {
  margin: 0;
  padding: 0;
}

.member-desc {
  margin-top: 30px;
}

.member-desc span {
  display: block;
}

.member-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer {
  background-color: #2f303a;
  height: 252px;
  padding-top: 60px;
}

.footer-content {
  max-width: 1170px;
  margin: 0 auto;
}

.footer-logo {
  margin: 0;
  margin-right: 93px;

  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  text-decoration: none;
}

.footer-logo > span {
  color: #2196f3;
}

.address {
  margin-top: 20px;
}

.list-contact {
  padding: 0;
  list-style: none;
}

.list-contact li {
  margin-bottom: 9px;
}

.list-contact li .address-link {
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
}

.list-contact > li > .street {
  opacity: 1;
}
