.footer__social-links {
  margin-left: 70px;
  padding-top: 12px;
}

.social-links__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;

  color: getColor("white-color");

  margin-bottom: 20px;

  text-transform: uppercase;
}

.social-links__link {
  display: flex;
  width: 44px;
  height: 44px;
  padding: 12px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;

  fill: getColor("white-color");
}
