.modal__form {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 448px;
}

.form__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;

  margin-bottom: 12px;
}

.form__item {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.item__title {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;

  color: getColor("secondary-text-color");

  margin-bottom: 4px;
}

.item__input-container {
  display: flex;
  align-items: center;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 12px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include transition(border-color);

  &:focus-within {
    border-color: getColor("secondary-color");
  }
}

.item__input {
  order: 2;
  width: 100%;
  height: 40px;

  outline: none;
  border: none;
  margin-left: 12px;
}

.item__icon {
  fill: getColor("primary-text-color");

  @include transition(fill);

  .item__input:focus + & {
    fill: getColor("secondary-color");
  }
}

.item__textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 10px;
  resize: none;
  padding: 12px 16px;
  outline: none;

  @include transition(border-color);

  &:focus {
    border-color: getColor("secondary-color");
  }

  &::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-align: left;

    color: #75757580;
  }
}

.form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0px auto;
  width: 200px;
  height: 50px;
  background: getColor("secondary-color");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;

  font-family: $roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  color: getColor("white-color");

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: getColor("button-background-color");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}

.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .checkbox__icon-border {
    border-radius: 2px;
    fill: none;
    border-color: getColor("secondary-color");
    background-color: getColor("secondary-color");
    background-image: url(../images/icon-check.svg);
  }
}

.checkbox__license {
  margin-left: 8px;
  line-height: 1.71;

  color: getColor("secondary-text-color");
}

.checkbox__link {
  text-decoration: underline;
  color: getColor("secondary-color");
}
