.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: getColor("background-color");
}

.team__list {
  display: flex;
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
}

.member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: getColor("white-color");

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.member__img {
  margin-bottom: 30px;
}

.member__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin-bottom: 10px;

  text-align: center;
}

.member__position {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;

  text-align: center;
  color: getColor("secondary-text-color");
}
